{% extends "layout.html" %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-title">
                        <h2>Registro de producto</h2>
                    </div>
                            <form action="/insertarproductos" method="post">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name="nombre" id="first_name" value="" placeholder="Nombre del producto" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="select" class="form-control" name="categoria" id="last_name" value="" placeholder="Categoría" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="number" class="form-control" name="preciocompra" id="first_name" value=""
                                            placeholder="Precio de compra" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="number" class="form-control" name="precioventa" id="last_name" value=""
                                            placeholder="Precio de venta" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <input type="text" class="form-control" name="descripcion" id="company" placeholder="Descripción" value="" required>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" name="foto" id="first_name" value="" placeholder="Aquí va la fotico" required>
                                    </div> 
                                </div>
                                    <div>
                                <input class="btn amado-btn mb-15" type="submit" value="Registrar">
                                </div>
                            </form>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}