{% extends "layout.html" %}

{% block content %}

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-title">
                        <h2>Formulario de registro</h2>
                    </div>
                    <form action="/insertarclientes" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="nombre" id="first_name" value=""
                                    placeholder="Nombre completo" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" name="documento" id="last_name" value=""
                                    placeholder="Cédula de ciudadanía" required>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Correo electrónico" value="" required>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" name="direccion" id="company"
                                    placeholder="Dirección" value="" required>
                            </div>
                            <div class="col-12 mb-3">
                                <input type="text" class="form-control" name="numero" id="street_address"
                                    placeholder="Teléfono o celular" value="" required>
                            </div>
                            <div class="col-md-12 mb-3">
                                <input list="ciudades" class="form-control" name="ciudad" id="last_name" value="" pattern="[A-Za-z]" placeholder="Ciudad" required>
                                <datalist id="ciudades">
                                    <option value="Abejorral, Antioquia">
                                    <option value="Abrego, Norte de Santander">
                                    <option value="Abriaqui, Antioquia">
                                    <option value="Acacias, Meta">
                                    <option value="Acandí, Choco">
                                    <option value="Acevedo, Huila">
                                    <option value="Achí, Bolívar">
                                    <option value="Agrado, Huila">
                                    <option value="Agua de Dios, Cundinamarca">
                                    <option value="Aguachica, Cesár">
                                    <option value="Aguada, Santander">
                                    <option value="Aguadas, Caldas">
                                    <option value="Aguazul, Casanare">
                                    <option value="Agustín Codazzi, Cesár">
                                    <option value="Aipe, Huila">
                                    <option value="Albán, Cundinamarca">
                                    <option value="Albán (San José), Nariño">
                                    <option value="Albania, Caldas">
                                    <option value="Albania, Santander">
                                    <option value="Alcalá, Valle">
                                    <option value="Aldana, Nariño">
                                    <option value="Alejandría, Antioquia">
                                    <option value="Algeciras, Huila">
                                    <option value="Almaguer, Cauca">
                                    <option value="Almeida, Boyacá">
                                    <option value="Alpujarra, Tolima">
                                    <option value="Altamira, Huila">
                                    <option value="Alto Baudó (Pie de Pato), Choco">
                                    <option value="Altos del Rosario, Bolívar">
                                    <option value="Alvarado, Tolima">
                                    <option value="Amagá, Antioquia">
                                    <option value="Amalfi, Antioquia">
                                    <option value="Ambalema, Tolima">
                                    <option value="Anapoima, Cundinamarca">
                                    <option value="Ancuyá, Nariño">
                                    <option value="Andalucía, Valle">
                                    <option value="Andes, Antioquia">
                                    <option value="Angelópolis, Antioquia">
                                    <option value="Angostura, Antioquia">
                                    <option value="Anolaima, Cundinamarca">
                                    <option value="Anorí, Antioquia">
                                    <option value="Anserma, Caldas">
                                    <option value="Ansermanuevo, Valle">
                                    <option value="Antioquia, Antioquia">
                                    <option value="Anzá, Antioquia">
                                    <option value="Anzóategui, Tolima">
                                    <option value="Apartadó, Antioquia">
                                    <option value="Apía, Risaralda">
                                    <option value="Aquitania, Boyacá">
                                    <option value="Aracataca, Magdalena">
                                    <option value="Aranzazu, Caldas">
                                    <option value="Aratoca, Santander">
                                    <option value="Arauca, Arauca">
                                    <option value="Arauquita, Arauca">
                                    <option value="Arbeláez, Cundinamarca">
                                    <option value="Arboleda (Berruecos), Nariño">
                                    <option value="Arboledas, Norte de Santander">
                                    <option value="Arboletes, Antioquia">
                                    <option value="Arcabuco, Boyacá">
                                    <option value="Arenal, Bolívar">
                                    <option value="Argelia, Antioquia">
                                    <option value="Argelia, Cauca">
                                    <option value="Argelia, Valle">
                                    <option value="Ariguaní (El Difícil), Magdalena">
                                    <option value="Arjona, Bolívar">
                                    <option value="Armenia, Antioquia">
                                    <option value="Armero (Guayabal), Tolima">
                                    <option value="Arroyohondo, Bolívar">
                                    <option value="Astrea, Cesár">
                                    <option value="Ataco, Tolima">
                                    <option value="Atrato (Yuto), Choco">
                                    <option value="Ayapel, Córdoba">
                                    <option value="Bagadó, Choco">
                                    <option value="Bahía Solano (Mútis), Choco">
                                    <option value="Bajo Baudó (Pizarro), Choco">
                                    <option value="Balboa, Cauca">
                                    <option value="Balboa, Risaralda">
                                    <option value="Baranoa, Atlántico">
                                    <option value="Baraya, Huila">
                                    <option value="Barbacoas, Nariño">
                                    <option value="Barbosa, Antioquia">
                                    <option value="Barbosa, Santander">
                                    <option value="Barichara, Santander">
                                    <option value="Barranca de Upía, Meta">
                                    <option value="Barrancabermeja, Santander">
                                    <option value="Barrancas, La Guajira">
                                    <option value="Barranco de Loba, Bolívar">
                                    <option value="Barranquilla, Atlántico">
                                    <option value="Becerril, Cesár">
                                    <option value="Belalcázar, Caldas">
                                    <option value="Belén, Boyacá">
                                    <option value="Belén, Nariño">
                                    <option value="Belén de los Andaquíes, Caldas">
                                    <option value="Belén de Umbría, Risaralda">
                                    <option value="Bello, Antioquia">
                                    <option value="Belmira, Antioquia">
                                    <option value="Beltrán, Cundinamarca">
                                    <option value="Berbeo, Boyacá">
                                    <option value="Betania, Antioquia">
                                    <option value="Beteitiva, Boyacá">
                                    <option value="Betulia, Antioquia">
                                    <option value="Betulia, Santander">
                                    <option value="Bituima, Cundinamarca">
                                    <option value="Boavita, Boyacá">
                                    <option value="Bochalema, Norte de Santander">
                                    <option value="Bogotá, Bogotá">
                                    <option value="Bojacá, Cundinamarca">
                                    <option value="Bojayá (Bellavista), Choco">
                                    <option value="Bolívar, Antioquia">
                                    <option value="Bolívar, Cauca">
                                    <option value="Bolívar, Santander">
                                    <option value="Bolívar, Valle">
                                    <option value="Bosconia, Cesár">
                                    <option value="Boyacá, Boyacá">
                                    <option value="Briseño, Antioquia">
                                    <option value="Briseño, Boyacá">
                                    <option value="Bucaramanga, Santander">
                                    <option value="Bucarasica, Norte de Santander">
                                    <option value="Buenaventura, Valle">
                                    <option value="Buenavista, Boyacá">
                                    <option value="Buenavista, Córdoba">
                                    <option value="Buenavista, Putumayo">
                                    <option value="Buenavista, Sucre">
                                    <option value="Buenos Aires, Cauca">
                                    <option value="Buesaco, Nariño">
                                    <option value="Buga, Valle">
                                    <option value="Bugalagrande, Valle">
                                    <option value="Buriticá, Antioquia">
                                    <option value="Busbanzá, Boyacá">
                                    <option value="Cabrera, Cundinamarca">
                                    <option value="Cabrera, Santander">
                                    <option value="Cabuyaro, Meta">
                                    <option value="Cáceres, Antioquia">
                                    <option value="Cachipay, Cundinamarca">
                                    <option value="Cáchira, Norte de Santander">
                                    <option value="Cácota, Norte de Santander">
                                    <option value="Caicedo, Antioquia">
                                    <option value="Caicedonia, Valle">
                                    <option value="Caimito, Sucre">
                                    <option value="Cajamarca, Tolima">
                                    <option value="Cajibío, Cauca">
                                    <option value="Cajicá, Cundinamarca">
                                    <option value="Calamar, Bolívar">
                                    <option value="Calamar, Choco">
                                    <option value="Calarcá, Putumayo">
                                    <option value="Caldas, Antioquia">
                                    <option value="Caldas, Boyacá">
                                    <option value="Caldono, Cauca">
                                    <option value="Cali, Valle">
                                    <option value="California, Santander">
                                    <option value="Calima (Darién), Valle">
                                    <option value="Caloto, Cauca">
                                    <option value="Campamento, Antioquia">
                                    <option value="Campo de la Cruz, Atlántico">
                                    <option value="Campoalegre, Huila">
                                    <option value="Campohermoso, Boyacá">
                                    <option value="Canalete, Córdoba">
                                    <option value="Candelaria, Atlántico">
                                    <option value="Candelaria, Valle">
                                    <option value="Cantagallo, Bolívar">
                                    <option value="Cantón de San Pablo, Choco">
                                    <option value="Cañasgordas, Antioquia">
                                    <option value="Caparrapí, Cundinamarca">
                                    <option value="Capitanejo, Santander">
                                    <option value="Caquetá 18 Florencia, Caldas">
                                    <option value="Cáqueza, Cundinamarca">
                                    <option value="Caracolí, Antioquia">
                                    <option value="Caramanta, Antioquia">
                                    <option value="Carcasí, Santander">
                                    <option value="Carepa, Antioquia">
                                    <option value="Carmen de Apicalá, Tolima">
                                    <option value="Carmen de Carupa, Cundinamarca">
                                    <option value="Carmen de Viboral, Antioquia">
                                    <option value="Carolina, Antioquia">
                                    <option value="Cartagena, Bolívar">
                                    <option value="Cartagena del Chairá, Caldas">
                                    <option value="Cartago, Valle">
                                    <option value="Carurú, Valle">
                                    <option value="Casabianca, Tolima">
                                    <option value="Castilla la Nueva, Meta">
                                    <option value="Caucasia, Antioquia">
                                    <option value="Cepitá, Santander">
                                    <option value="Cereté, Córdoba">
                                    <option value="Cerinza, Boyacá">
                                    <option value="Cerrito, Santander">
                                    <option value="Cerro San Antonio, Magdalena">
                                    <option value="Chachagüi, Nariño">
                                    <option value="Chaguaní, Cundinamarca">
                                    <option value="Chalán, Sucre">
                                    <option value="Chameza, Casanare">
                                    <option value="Chaparral, Tolima">
                                    <option value="Charalá, Santander">
                                    <option value="Charta, Santander">
                                    <option value="Chía, Cundinamarca">
                                    <option value="Chigorodó, Antioquia">
                                    <option value="Chima, Córdoba">
                                    <option value="Chima, Santander">
                                    <option value="Chimichagua, Cesár">
                                    <option value="Chinácota, Norte de Santander">
                                    <option value="Chinavita, Boyacá">
                                    <option value="Chinchina, Caldas">
                                    <option value="Chinú, Córdoba">
                                    <option value="Chipaque, Cundinamarca">
                                    <option value="Chipatá, Santander">
                                    <option value="Chiquinquirá, Boyacá">
                                    <option value="Chíquiza, Boyacá">
                                    <option value="Chiriguaná, Cesár">
                                    <option value="Chiscas, Boyacá">
                                    <option value="Chita, Boyacá">
                                    <option value="Chitagá, Norte de Santander">
                                    <option value="Chitaranque, Boyacá">
                                    <option value="Chivatá, Boyacá">
                                    <option value="Chivolo, Magdalena">
                                    <option value="Chivor, Boyacá">
                                    <option value="Choachí, Cundinamarca">
                                    <option value="Chocontá, Cundinamarca">
                                    <option value="Cicuto, Bolívar">
                                    <option value="Ciénaga, Boyacá">
                                    <option value="Ciénaga, Magdalena">
                                    <option value="Ciénaga de Oro, Córdoba">
                                    <option value="Cimitarra, Santander">
                                    <option value="Circasia, Putumayo">
                                    <option value="Cisneros, Antioquia">
                                    <option value="Clemencia, Bolívar">
                                    <option value="Cocorná, Antioquia">
                                    <option value="Coello, Tolima">
                                    <option value="Cogua, Cundinamarca">
                                    <option value="Colombia, Huila">
                                    <option value="Colón, Putumayo">
                                    <option value="Colón (Génova), Nariño">
                                    <option value="Coloso (Ricaurte), Sucre">
                                    <option value="Cómbita, Boyacá">
                                    <option value="Concepción, Antioquia">
                                    <option value="Concepción, Santander">
                                    <option value="Concordia, Antioquia">
                                    <option value="Condoto, Choco">
                                    <option value="Confines, Santander">
                                    <option value="Consacá, Nariño">
                                    <option value="Contadero, Nariño">
                                    <option value="Contratación, Santander">
                                    <option value="Convención, Norte de Santander">
                                    <option value="Copacabana, Antioquia">
                                    <option value="Coper, Boyacá">
                                    <option value="Córdoba, Bolívar">
                                    <option value="Córdoba, Nariño">
                                    <option value="Córdoba, Putumayo">
                                    <option value="Corinto, Cauca">
                                    <option value="Coromoro, Santander">
                                    <option value="Corozal, Sucre">
                                    <option value="Corrales, Boyacá">
                                    <option value="Cota, Cundinamarca">
                                    <option value="Cotorra, Córdoba">
                                    <option value="Covarachia, Boyacá">
                                    <option value="Coyaima, Tolima">
                                    <option value="Cravo Norte, Arauca">
                                    <option value="Cuaspud (Carlosama), Nariño">
                                    <option value="Cubar, Boyacá">
                                    <option value="Cubarral, Meta">
                                    <option value="Cucaita, Boyacá">
                                    <option value="Cucunubá, Cundinamarca">
                                    <option value="Cúcuta, Norte de Santander">
                                    <option value="Cucutilla, Norte de Santander">
                                    <option value="Cuitiva, Boyacá">
                                    <option value="Cumaral, Meta">
                                    <option value="Cumaribo, Valle">
                                    <option value="Cumbal, Nariño">
                                    <option value="Cumbitará, Nariño">
                                    <option value="Cunday, Tolima">
                                    <option value="Curillo, Caldas">
                                    <option value="Curití, Santander">
                                    <option value="Curumaní, Cesár">
                                    <option value="Dabeiba, Antioquia">
                                    <option value="Dagua, Valle">
                                    <option value="Dibulla, La Guajira">
                                    <option value="Distracción, La Guajira">
                                    <option value="Dolores, Tolima">
                                    <option value="Don Matías, Antioquia">
                                    <option value="Dos Quebradas, Risaralda">
                                    <option value="Duitama, Boyacá">
                                    <option value="Durania, Norte de Santander">
                                    <option value="Ebéjico, Antioquia">
                                    <option value="El Águila, Valle">
                                    <option value="El Bagre, Antioquia">
                                    <option value="El Banco, Magdalena">
                                    <option value="El Cairo, Valle">
                                    <option value="El Calvario, Meta">
                                    <option value="El Carmen, Choco">
                                    <option value="El Carmen, Norte de Santander">
                                    <option value="El Carmen, Santander">
                                    <option value="El Carmen de Bolívar, Bolívar">
                                    <option value="El Castillo, Meta">
                                    <option value="El Cerrito, Valle">
                                    <option value="El Charco, Nariño">
                                    <option value="El Cocuy, Boyacá">
                                    <option value="El Colegio, Cundinamarca">
                                    <option value="El Copey, Cesár">
                                    <option value="El Doncello, Caldas">
                                    <option value="El Dorado, Meta">
                                    <option value="El Dovio, Valle">
                                    <option value="El Espino, Boyacá">
                                    <option value="El Guacamayo, Santander">
                                    <option value="El Guamo, Bolívar">
                                    <option value="El Litoral de San Juan, Choco">
                                    <option value="El Molino, La Guajira">
                                    <option value="El Paso, Cesár">
                                    <option value="El Paujil, Caldas">
                                    <option value="El Peñón, Bolívar">
                                    <option value="El Peñón, Cundinamarca">
                                    <option value="El Peñón, Santander">
                                    <option value="El Piñón, Magdalena">
                                    <option value="El Playón, Santander">
                                    <option value="El Retén, Magdalena">
                                    <option value="El Retorno, Choco">
                                    <option value="El Rosal, Cundinamarca">
                                    <option value="El Rosario, Nariño">
                                    <option value="El Tablón, Nariño">
                                    <option value="El Tambo, Cauca">
                                    <option value="El Tambo, Nariño">
                                    <option value="El Tarra, Norte de Santander">
                                    <option value="El Zulia, Norte de Santander">
                                    <option value="Elías, Huila">
                                    <option value="Encino, Santander">
                                    <option value="Enciso, Santander">
                                    <option value="Entrerríos, Antioquia">
                                    <option value="Envigado, Antioquia">
                                    <option value="Espinal, Tolima">
                                    <option value="Facatativá, Cundinamarca">
                                    <option value="Falán, Tolima">
                                    <option value="Filadelfia, Caldas">
                                    <option value="Filandia, Putumayo">
                                    <option value="Firavitoba, Boyacá">
                                    <option value="Flandes, Tolima">
                                    <option value="Florencia, Cauca">
                                    <option value="Floresta, Boyacá">
                                    <option value="Florián, Santander">
                                    <option value="Florida, Valle">
                                    <option value="Floridablanca, Santander">
                                    <option value="Fómeque, Cundinamarca">
                                    <option value="Fonseca, La Guajira">
                                    <option value="Fortul, Arauca">
                                    <option value="Fortul, Arauca">
                                    <option value="Fosca , Cundinamarca">
                                    <option value="Francisco Pizarro, Nariño">
                                    <option value="Fredonia, Antioquia">
                                    <option value="Fresno, Tolima">
                                    <option value="Frontino, Antioquia">
                                    <option value="Fuente de Oro, Meta">
                                    <option value="Fundación, Magdalena">
                                    <option value="Funes, Nariño">
                                    <option value="Funza, Cundinamarca">
                                    <option value="Fúquene, Cundinamarca">
                                    <option value="Fusagasugá, Cundinamarca">
                                    <option value="Gachalá, Cundinamarca">
                                    <option value="Gachancipá, Cundinamarca">
                                    <option value="Gachantivá, Boyacá">
                                    <option value="Gachetá, Cundinamarca">
                                    <option value="Galán, Santander">
                                    <option value="Galapa, Atlántico">
                                    <option value="Galeras (Nueva Granada), Sucre">
                                    <option value="Gama, Cundinamarca">
                                    <option value="Gamarra, Cesár">
                                    <option value="Gámbita, Santander">
                                    <option value="Gámeza, Boyacá">
                                    <option value="Garagoa, Boyacá">
                                    <option value="Garzón, Huila">
                                    <option value="Génova, Putumayo">
                                    <option value="Gigante, Huila">
                                    <option value="Ginebra, Valle">
                                    <option value="Giraldo, Antioquia">
                                    <option value="Girardot, Cundinamarca">
                                    <option value="Girardota, Antioquia">
                                    <option value="Girón, Santander">
                                    <option value="Gómez Plata, Antioquia">
                                    <option value="González, Cesár">
                                    <option value="Gramalote, Norte de Santander">
                                    <option value="Granada, Antioquia">
                                    <option value="Granada, Cundinamarca">
                                    <option value="Granada, Meta">
                                    <option value="Guaca, Santander">
                                    <option value="Guacamayas, Boyacá">
                                    <option value="Guacarí, Valle">
                                    <option value="Guachetá, Cundinamarca">
                                    <option value="Guachucal, Nariño">
                                    <option value="Guadalupe, Antioquia">
                                    <option value="Guadalupe, Huila">
                                    <option value="Guadalupe, Santander">
                                    <option value="Guaduas, Cundinamarca">
                                    <option value="Guainía 94 Inírida, Choco">
                                    <option value="Guaitarilla, Nariño">
                                    <option value="Gualmatán, Nariño">
                                    <option value="Guamal, Magdalena">
                                    <option value="Guamal, Meta">
                                    <option value="Guamo, Tolima">
                                    <option value="Guapi, Cauca">
                                    <option value="Guapotá, Santander">
                                    <option value="Guarandá, Sucre">
                                    <option value="Guarne, Antioquia">
                                    <option value="Guasca, Cundinamarca">
                                    <option value="Guatapé, Antioquia">
                                    <option value="Guataquí, Cundinamarca">
                                    <option value="Guatavita, Cundinamarca">
                                    <option value="Guateque, Boyacá">
                                    <option value="Guática, Risaralda">
                                    <option value="Guavata, Santander">
                                    <option value="Guaviare 95 San José del Guaviare, Choco">
                                    <option value="Guayabal de Síquima, Cundinamarca">
                                    <option value="Guayabetal, Cundinamarca">
                                    <option value="Guayatá, Boyacá">
                                    <option value="Guepsa, Santander">
                                    <option value="Guicán, Boyacá">
                                    <option value="Gutiérrez, Cundinamarca">
                                    <option value="Hacarí, Norte de Santander">
                                    <option value="Hatillo de Loba, Bolívar">
                                    <option value="Hato, Santander">
                                    <option value="Hato Corozal, Casanare">
                                    <option value="Hatonuevo, La Guajira">
                                    <option value="Heliconia, Antioquia">
                                    <option value="Herrán, Norte de Santander">
                                    <option value="Herveo, Tolima">
                                    <option value="Hispania, Antioquia">
                                    <option value="Hobo, Huila">
                                    <option value="Honda, Tolima">
                                    <option value="Ibagué, Tolima">
                                    <option value="Icononzo, Tolima">
                                    <option value="Iles, Nariño">
                                    <option value="Imúes, Nariño">
                                    <option value="Inzá, Cauca">
                                    <option value="Ipiales, Nariño">
                                    <option value="Iquira, Huila">
                                    <option value="Isnos, Huila">
                                    <option value="Itagüí, Antioquia">
                                    <option value="Itsmina, Choco">
                                    <option value="Ituango, Antioquia">
                                    <option value="Iza, Boyacá">
                                    <option value="Jambaló, Cauca">
                                    <option value="Jamundí, Valle">
                                    <option value="Jardín, Antioquia">
                                    <option value="Jenesano, Boyacá">
                                    <option value="Jericó, Antioquia">
                                    <option value="Jericó, Boyacá">
                                    <option value="Jerusalén, Cundinamarca">
                                    <option value="Jesús María, Santander">
                                    <option value="Jordán, Santander">
                                    <option value="Juan de Acosta, Atlántico">
                                    <option value="Junín, Cundinamarca">
                                    <option value="Juradó, Choco">
                                    <option value="La Apartada (Frontera), Córdoba">
                                    <option value="La Argentina, Huila">
                                    <option value="La Belleza, Santander">
                                    <option value="La Calera, Cundinamarca">
                                    <option value="La Capilla, Boyacá">
                                    <option value="La Ceja, Antioquia">
                                    <option value="La Celia, Risaralda">
                                    <option value="La Cruz, Nariño">
                                    <option value="La Cumbre, Valle">
                                    <option value="La Dorada, Caldas">
                                    <option value="La Esperanza, Norte de Santander">
                                    <option value="La Estrella, Antioquia">
                                    <option value="La Florida, Nariño">
                                    <option value="La Gloria, Cesár">
                                    <option value="La Jagua de Ibirico, Cesár">
                                    <option value="La Llanada, Nariño">
                                    <option value="La Macarena, Meta">
                                    <option value="La Merced, Caldas">
                                    <option value="La Mesa, Cundinamarca">
                                    <option value="La Montañita, Caldas">
                                    <option value="La Palma, Cundinamarca">
                                    <option value="La Paz, Santander">
                                    <option value="La Paz (Robles), Cesár">
                                    <option value="La Peña, Cundinamarca">
                                    <option value="La Pintada, Antioquia">
                                    <option value="La Plata, Huila">
                                    <option value="La Playa, Norte de Santander">
                                    <option value="La Primavera, Valle">
                                    <option value="La Salina, Casanare">
                                    <option value="La Sierra, Cauca">
                                    <option value="La Tebaida, Putumayo">
                                    <option value="La Tola, Nariño">
                                    <option value="La Ubita, Boyacá">
                                    <option value="La Unión, Antioquia">
                                    <option value="La Unión, Nariño">
                                    <option value="La Unión, Sucre">
                                    <option value="La Unión, Valle">
                                    <option value="La Uribe, Meta">
                                    <option value="La Vega, Cauca">
                                    <option value="La Vega, Cundinamarca">
                                    <option value="La Victoria, Boyacá">
                                    <option value="La Victoria, Valle">
                                    <option value="La Virginia, Risaralda">
                                    <option value="Labateca, Norte de Santander">
                                    <option value="Labranzagrande, Boyacá">
                                    <option value="Landázuri, Santander">
                                    <option value="Lebrija, Santander">
                                    <option value="Leiva, Nariño">
                                    <option value="Lejanías, Meta">
                                    <option value="Lenguazaque, Cundinamarca">
                                    <option value="Lérida, Tolima">
                                    <option value="Leticia, Amazonas">
                                    <option value="Líbano, Tolima">
                                    <option value="Liborina, Antioquia">
                                    <option value="Linares, Nariño">
                                    <option value="Lloró, Choco">
                                    <option value="López (Micay), Cauca">
                                    <option value="Lorica, Córdoba">
                                    <option value="Los Andes (Sotomayor), Nariño">
                                    <option value="Los Córdobas, Córdoba">
                                    <option value="Los Palmitos, Sucre">
                                    <option value="Los Patios, Norte de Santander">
                                    <option value="Los Santos, Santander">
                                    <option value="Lourdes, Norte de Santander">
                                    <option value="Luruaco, Atlántico">
                                    <option value="Macanal, Boyacá">
                                    <option value="Macaravita, Santander">
                                    <option value="Maceo, Antioquia">
                                    <option value="Machetá, Cundinamarca">
                                    <option value="Madrid, Cundinamarca">
                                    <option value="Magangue, Bolívar">
                                    <option value="Magüí (Payán), Nariño">
                                    <option value="Mahates, Bolívar">
                                    <option value="Maicao, La Guajira">
                                    <option value="Majagual, Sucre">
                                    <option value="Málaga, Santander">
                                    <option value="Malambo, Atlántico">
                                    <option value="Mallama (Piedrancha), Nariño">
                                    <option value="Manatí, Atlántico">
                                    <option value="Manaure, La Guajira">
                                    <option value="Manaure Balcón Cesar, Cesár">
                                    <option value="Maní, Casanare">
                                    <option value="Manizales, Caldas">
                                    <option value="Manta, Cundinamarca">
                                    <option value="Manzanares, Caldas">
                                    <option value="Mapiripán, Meta">
                                    <option value="Margarita, Bolívar">
                                    <option value="María la Baja, Bolívar">
                                    <option value="Marinilla, Antioquia">
                                    <option value="Maripí, Boyacá">
                                    <option value="Mariquita, Tolima">
                                    <option value="Marmato, Caldas">
                                    <option value="Marquetalia, Caldas">
                                    <option value="Marsella, Risaralda">
                                    <option value="Marulanda, Caldas">
                                    <option value="Matanza, Santander">
                                    <option value="Medellín, Antioquia">
                                    <option value="Medina, Cundinamarca">
                                    <option value="Melgar, Tolima">
                                    <option value="Mercaderes, Cauca">
                                    <option value="Mesetas, Meta">
                                    <option value="Milán, Caldas">
                                    <option value="Miraflores, Boyacá">
                                    <option value="Miraflores, Choco">
                                    <option value="Miranda, Cauca">
                                    <option value="Mistrató, Risaralda">
                                    <option value="Mocoa, Putumayo">
                                    <option value="Mogotes, Santander">
                                    <option value="Molagavita, Santander">
                                    <option value="Momil, Córdoba">
                                    <option value="Mompós, Bolívar">
                                    <option value="Mongua, Boyacá">
                                    <option value="Monguí, Boyacá">
                                    <option value="Moniquirá, Boyacá">
                                    <option value="Monitos, Córdoba">
                                    <option value="Montebello, Antioquia">
                                    <option value="Montecristo, Bolívar">
                                    <option value="Montelíbano, Córdoba">
                                    <option value="Montenegro, Putumayo">
                                    <option value="Montería, Córdoba">
                                    <option value="Monterrey, Casanare">
                                    <option value="Morales, Bolívar">
                                    <option value="Morales, Cauca">
                                    <option value="Morelia, Caldas">
                                    <option value="Morroa, Sucre">
                                    <option value="Mosquera, Cundinamarca">
                                    <option value="Mosquera, Nariño">
                                    <option value="Motavita, Boyacá">
                                    <option value="Murillo, Tolima">
                                    <option value="Murindó, Antioquia">
                                    <option value="Mutatá, Antioquia">
                                    <option value="Mutiscua, Norte de Santander">
                                    <option value="Muzo, Boyacá">
                                    <option value="Nariño, Antioquia">
                                    <option value="Nariño, Cundinamarca">
                                    <option value="Nátaga, Huila">
                                    <option value="Natagaima, Tolima">
                                    <option value="Nechí, Antioquia">
                                    <option value="Necoclí, Antioquia">
                                    <option value="Neira, Caldas">
                                    <option value="Neiva, Huila">
                                    <option value="Nemocón, Cundinamarca">
                                    <option value="Nilo, Cundinamarca">
                                    <option value="Nimaima, Cundinamarca">
                                    <option value="Nobsa, Boyacá">
                                    <option value="Nocaima, Cundinamarca">
                                    <option value="Nóvita, Choco">
                                    <option value="Nuevo Colón, Boyacá">
                                    <option value="Nunchía, Casanare">
                                    <option value="Nuquí, Choco">
                                    <option value="Obando, Valle">
                                    <option value="Ocamonte, Santander">
                                    <option value="Ocaña, Norte de Santander">
                                    <option value="Oiba, Santander">
                                    <option value="Oicatá, Boyacá">
                                    <option value="Olaya, Antioquia">
                                    <option value="Olaya, Nariño">
                                    <option value="Onzága, Santander">
                                    <option value="Oporapa, Huila">
                                    <option value="Orito, Putumayo">
                                    <option value="Orocué, Casanare">
                                    <option value="Ortega, Tolima">
                                    <option value="Ospina, Nariño">
                                    <option value="Otanche, Boyacá">
                                    <option value="Ovejas, Sucre">
                                    <option value="Pachavita, Boyacá">
                                    <option value="Pacho, Cundinamarca">
                                    <option value="Pácora, Caldas">
                                    <option value="Padilla, Cauca">
                                    <option value="Páez, Boyacá">
                                    <option value="Páez (Belalcazar), Cauca">
                                    <option value="Paicol, Huila">
                                    <option value="Pailitas, Cesár">
                                    <option value="Paime, Cundinamarca">
                                    <option value="Paipa, Boyacá">
                                    <option value="Pajarito, Boyacá">
                                    <option value="Palermo, Huila">
                                    <option value="Palestina, Caldas">
                                    <option value="Palestina, Huila">
                                    <option value="Palmar, Santander">
                                    <option value="Palmar de Varela, Atlántico">
                                    <option value="Palmas del Socorro, Santander">
                                    <option value="Palmira, Valle">
                                    <option value="Palmito, Sucre">
                                    <option value="Palocabildo, Tolima">
                                    <option value="Pamplona, Norte de Santander">
                                    <option value="Pamplonita, Norte de Santander">
                                    <option value="Pandi, Cundinamarca">
                                    <option value="Panqueba, Boyacá">
                                    <option value="Páramo, Santander">
                                    <option value="Paratebueno, Cundinamarca">
                                    <option value="Pasca, Cundinamarca">
                                    <option value="Pasto, Nariño">
                                    <option value="Patía (El Bordo), Cauca">
                                    <option value="Pauna, Boyacá">
                                    <option value="Paya, Boyacá">
                                    <option value="Paz de Ariporo, Casanare">
                                    <option value="Paz de Río, Boyacá">
                                    <option value="Pedraza, Magdalena">
                                    <option value="Pelaya, Cesár">
                                    <option value="Pensilvania, Caldas">
                                    <option value="Peñol, Antioquia">
                                    <option value="Peque, Antioquia">
                                    <option value="Pereira, Risaralda">
                                    <option value="Pesca, Boyacá">
                                    <option value="Piamonte, Cauca">
                                    <option value="Pie de Cuesta, Santander">
                                    <option value="Piedras, Tolima">
                                    <option value="Piendamó, Cauca">
                                    <option value="Pijao, Putumayo">
                                    <option value="Pijiño del Carmen, Magdalena">
                                    <option value="Pinchote, Santander">
                                    <option value="Pinillos, Bolívar">
                                    <option value="Piojó, Atlántico">
                                    <option value="Pisva, Boyacá">
                                    <option value="Pital, Huila">
                                    <option value="Pitalito, Huila">
                                    <option value="Pivijay, Magdalena">
                                    <option value="Planadas, Tolima">
                                    <option value="Planeta Rica, Córdoba">
                                    <option value="Plato, Magdalena">
                                    <option value="Policarpa, Nariño">
                                    <option value="Polonuevo, Atlántico">
                                    <option value="Ponedera, Atlántico">
                                    <option value="Popayán, Cauca">
                                    <option value="Pore, Casanare">
                                    <option value="Potosí, Nariño">
                                    <option value="Pradera, Valle">
                                    <option value="Prado, Tolima">
                                    <option value="Providencia, Nariño">
                                    <option value="Providencia, San Andrés">
                                    <option value="Publoviejo, Magdalena">
                                    <option value="Pueblo Bello, Cesár">
                                    <option value="Pueblo Nuevo, Córdoba">
                                    <option value="Pueblo Rico, Risaralda">
                                    <option value="Pueblorrico, Antioquia">
                                    <option value="Puente Nacional, Santander">
                                    <option value="Puerres, Nariño">
                                    <option value="Puerto Asís, Putumayo">
                                    <option value="Puerto Berrío, Antioquia">
                                    <option value="Puerto Boyacá, Boyacá">
                                    <option value="Puerto Caicedo, Putumayo">
                                    <option value="Puerto Colombia, Atlántico">
                                    <option value="Puerto Concordia, Meta">
                                    <option value="Puerto Escondido, Córdoba">
                                    <option value="Puerto Gaitán, Meta">
                                    <option value="Puerto Guzmán, Putumayo">
                                    <option value="Puerto Leguízamo, Putumayo">
                                    <option value="Puerto Libertador, Córdoba">
                                    <option value="Puerto Lleras, Meta">
                                    <option value="Puerto López, Meta">
                                    <option value="Puerto Nare, Antioquia">
                                    <option value="Puerto Nariño, Amazonas">
                                    <option value="Puerto Parra, Santander">
                                    <option value="Puerto Rico, Caldas">
                                    <option value="Puerto Rico, Meta">
                                    <option value="Puerto Rondón, Arauca">
                                    <option value="Puerto Rondón, Arauca">
                                    <option value="Puerto Salgar, Cundinamarca">
                                    <option value="Puerto Santander, Norte de Santander">
                                    <option value="Puerto Tejada, Cauca">
                                    <option value="Puerto Triunfo, Antioquia">
                                    <option value="Puerto Wilches, Santander">
                                    <option value="Pulí, Cundinamarca">
                                    <option value="Pupiales, Nariño">
                                    <option value="Puracé (Coconuco), Cauca">
                                    <option value="Purificación, Tolima">
                                    <option value="Purísima, Córdoba">
                                    <option value="Quebradanegra, Cundinamarca">
                                    <option value="Quetame, Cundinamarca">
                                    <option value="Quibdó, Choco">
                                    <option value="Quimbaya, Putumayo">
                                    <option value="Quinchia, Risaralda">
                                    <option value="Quindío 63 Armenia, Putumayo">
                                    <option value="Quípama, Boyacá">
                                    <option value="Quipile, Cundinamarca">
                                    <option value="Rafael, Cundinamarca">
                                    <option value="Ragonvalia, Norte de Santander">
                                    <option value="Ramiquirí, Boyacá">
                                    <option value="Ráquira, Boyacá">
                                    <option value="Recetor, Casanare">
                                    <option value="Regidor, Bolívar">
                                    <option value="Remedios, Antioquia">
                                    <option value="Remolino, Magdalena">
                                    <option value="Repelón, Atlántico">
                                    <option value="Restrepo, Meta">
                                    <option value="Restrepo, Valle">
                                    <option value="Retiro, Antioquia">
                                    <option value="Ricaurte, Cundinamarca">
                                    <option value="Ricaurte, Nariño">
                                    <option value="Río de Oro, Cesár">
                                    <option value="Río Viejo, Bolívar">
                                    <option value="Rioblanco, Tolima">
                                    <option value="Riofrío, Valle">
                                    <option value="Riohacha, La Guajira">
                                    <option value="Rionegro, Antioquia">
                                    <option value="Rionegro, Santander">
                                    <option value="Riosucio, Caldas">
                                    <option value="Riosucio, Choco">
                                    <option value="Risaralda, Caldas">
                                    <option value="Rivera, Huila">
                                    <option value="Roberto Payán (San José), Nariño">
                                    <option value="Roldanillo, Valle">
                                    <option value="Roncesvalles, Tolima">
                                    <option value="Rondón, Boyacá">
                                    <option value="Rosas, Cauca">
                                    <option value="Rovira, Tolima">
                                    <option value="Sabalarga, Casanare">
                                    <option value="Sabana de Torres, Santander">
                                    <option value="Sabanagrande, Atlántico">
                                    <option value="Sabanalarga, Antioquia">
                                    <option value="Sabanalarga, Atlántico">
                                    <option value="Sabaneta, Antioquia">
                                    <option value="Saboyá, Boyacá">
                                    <option value="Sácama, Casanare">
                                    <option value="Sáchica, Boyacá">
                                    <option value="Sahagún, Córdoba">
                                    <option value="Saladoblanco, Huila">
                                    <option value="Salamina, Caldas">
                                    <option value="Salamina, Magdalena">
                                    <option value="Salazar, Norte de Santander">
                                    <option value="Saldaña, Tolima">
                                    <option value="Salento, Putumayo">
                                    <option value="Salgar, Antioquia">
                                    <option value="Samacá, Boyacá">
                                    <option value="Samaná, Caldas">
                                    <option value="Samaniego, Nariño">
                                    <option value="Sampués, Sucre">
                                    <option value="San Agustín, Huila">
                                    <option value="San Alberto, Cesár">
                                    <option value="San Andrés, Antioquia">
                                    <option value="San Andrés, San Andrés">
                                    <option value="San Andrés, Santander">
                                    <option value="San Andrés Sotavento, Córdoba">
                                    <option value="San Antero, Córdoba">
                                    <option value="San Antonio, Tolima">
                                    <option value="San Antonio de Tequendama, Cundinamarca">
                                    <option value="San Benito, Santander">
                                    <option value="San Benito Abad, Sucre">
                                    <option value="San Bernardo, Cundinamarca">
                                    <option value="San Bernardo, Nariño">
                                    <option value="San Bernardo del Viento, Córdoba">
                                    <option value="San Calixto, Norte de Santander">
                                    <option value="San Carlos, Antioquia">
                                    <option value="San Carlos, Córdoba">
                                    <option value="San Carlos de Guaroa, Meta">
                                    <option value="San Cayetano, Cundinamarca">
                                    <option value="San Cayetano, Norte de Santander">
                                    <option value="San Cristóbal, Bolívar">
                                    <option value="San Diego, Cesár">
                                    <option value="San Eduardo, Boyacá">
                                    <option value="San Estanislao, Bolívar">
                                    <option value="San Fernando, Bolívar">
                                    <option value="San francisco, Antioquia">
                                    <option value="San Francisco, Cundinamarca">
                                    <option value="San Francisco, Putumayo">
                                    <option value="San Gil, Santander">
                                    <option value="San Jacinto, Bolívar">
                                    <option value="San Jacinto del Cauca, Bolívar">
                                    <option value="San Jerónimo, Antioquia">
                                    <option value="San Joaquín, Santander">
                                    <option value="San José, Caldas">
                                    <option value="San José de Miranda, Santander">
                                    <option value="San José de Montaña, Antioquia">
                                    <option value="San José de Pare, Boyacá">
                                    <option value="San José del Fragua, Caldas">
                                    <option value="San José del Palmar, Choco">
                                    <option value="San Juan de Arama, Meta">
                                    <option value="San Juan de Betulia, Sucre">
                                    <option value="San Juan de Rioseco, Cundinamarca">
                                    <option value="San Juan de Urabá, Antioquia">
                                    <option value="San Juan del Cesar, La Guajira">
                                    <option value="San Juan Nepomuceno, Bolívar">
                                    <option value="San Juanito, Meta">
                                    <option value="San Lorenzo, Nariño">
                                    <option value="San Luis, Antioquia">
                                    <option value="San Luis, Tolima">
                                    <option value="San Luis de Gaceno, Boyacá">
                                    <option value="San Luis de Palenque, Casanare">
                                    <option value="San Marcos, Sucre">
                                    <option value="San Martín, Cesár">
                                    <option value="San Martín, Meta">
                                    <option value="San Martín de Loba, Bolívar">
                                    <option value="San Mateo, Boyacá">
                                    <option value="San Miguel, Putumayo">
                                    <option value="San Miguel, Santander">
                                    <option value="San Miguel de Sema, Boyacá">
                                    <option value="San Onofre, Sucre">
                                    <option value="San Pablo, Bolívar">
                                    <option value="San Pablo, Nariño">
                                    <option value="San Pablo de Borbur, Boyacá">
                                    <option value="San Pedro, Antioquia">
                                    <option value="San Pedro, Sucre">
                                    <option value="San Pedro, Valle">
                                    <option value="San Pedro de Cartago, Nariño">
                                    <option value="San Pedro de Urabá, Antioquia">
                                    <option value="San Pelayo, Córdoba">
                                    <option value="San Rafael, Antioquia">
                                    <option value="San Roque, Antioquia">
                                    <option value="San Sebastián, Cauca">
                                    <option value="San Sebastián de Buuenavista, Magdalena">
                                    <option value="San Vicente, Antioquia">
                                    <option value="San Vicente de Chucurí, Santander">
                                    <option value="San Vicente del Caguán, Caldas">
                                    <option value="San Zenón, Magdalena">
                                    <option value="Sandoná, Nariño">
                                    <option value="Santa Ana, Magdalena">
                                    <option value="Santa Bárbara, Antioquia">
                                    <option value="Santa Bárbara, Santander">
                                    <option value="Santa Bárbara (Iscuandé), Nariño">
                                    <option value="Santa Catalina, Bolívar">
                                    <option value="Santa Cruz (Guachávez), Nariño">
                                    <option value="Santa Helena del Opón, Santander">
                                    <option value="Santa Isabel, Tolima">
                                    <option value="Santa Lucía, Atlántico">
                                    <option value="Santa María, Boyacá">
                                    <option value="Santa María, Huila">
                                    <option value="Santa Marta, Magdalena">
                                    <option value="Santa Rosa, Bolívar">
                                    <option value="Santa Rosa, Cauca">
                                    <option value="Santa Rosa de Cabal, Risaralda">
                                    <option value="Santa Rosa de Osos, Antioquia">
                                    <option value="Santa Rosa de Viterbo, Boyacá">
                                    <option value="Santa Rosa del Sur, Bolívar">
                                    <option value="Santa Rosalia, Valle">
                                    <option value="Santa Sofía, Boyacá">
                                    <option value="Santana, Boyacá">
                                    <option value="Santander de Quilichao, Cauca">
                                    <option value="Santiago, Norte de Santander">
                                    <option value="Santiago, Putumayo">
                                    <option value="Santo Domingo, Antioquia">
                                    <option value="Santo Tomás, Atlántico">
                                    <option value="Santuario, Antioquia">
                                    <option value="Santuario, Risaralda">
                                    <option value="Sapuyés, Nariño">
                                    <option value="Saravena, Arauca">
                                    <option value="Sardinata, Norte de Santander">
                                    <option value="Sasaima, Cundinamarca">
                                    <option value="Sativanorte, Boyacá">
                                    <option value="Sativasur, Boyacá">
                                    <option value="Segovia, Antioquia">
                                    <option value="Sesquilé, Cundinamarca">
                                    <option value="Sevilla, Valle">
                                    <option value="Siachoque, Boyacá">
                                    <option value="Sibate, Cundinamarca">
                                    <option value="Sibundoy, Putumayo">
                                    <option value="Silos, Norte de Santander">
                                    <option value="Silvania, Cundinamarca">
                                    <option value="Silvia, Cauca">
                                    <option value="Simacota, Santander">
                                    <option value="Simijaca, Cundinamarca">
                                    <option value="Simití, Bolívar">
                                    <option value="Sincé, Sucre">
                                    <option value="Sincelejo, Sucre">
                                    <option value="Sipí, Choco">
                                    <option value="Sitionuevo, Magdalena">
                                    <option value="Soacha, Cundinamarca">
                                    <option value="Soatá, Boyacá">
                                    <option value="Socha, Boyacá">
                                    <option value="Socorro, Santander">
                                    <option value="Socotá, Boyacá">
                                    <option value="Sogamoso, Boyacá">
                                    <option value="Solano, Caldas">
                                    <option value="Soledad, Atlántico">
                                    <option value="Solita, Caldas">
                                    <option value="Somondoco, Boyacá">
                                    <option value="Sonsón, Antioquia">
                                    <option value="Sopetrán, Antioquia">
                                    <option value="Soplaviento, Bolívar">
                                    <option value="Sopó, Cundinamarca">
                                    <option value="Sora, Boyacá">
                                    <option value="Soracá, Boyacá">
                                    <option value="Sotaquirá, Boyacá">
                                    <option value="Sotará (Paispamba), Cauca">
                                    <option value="Suaita, Santander">
                                    <option value="Suán, Atlántico">
                                    <option value="Suárez, Cauca">
                                    <option value="Suárez, Tolima">
                                    <option value="Suazá, Huila">
                                    <option value="Subachoque, Cundinamarca">
                                    <option value="Sucre, Santander">
                                    <option value="Sucre, Sucre">
                                    <option value="Suesca, Cundinamarca">
                                    <option value="Supatá, Cundinamarca">
                                    <option value="Supía, Caldas">
                                    <option value="Suratá, Santander">
                                    <option value="Susa, Cundinamarca">
                                    <option value="Susacón, Boyacá">
                                    <option value="Sutamarchán, Boyacá">
                                    <option value="Sutatausa, Cundinamarca">
                                    <option value="Sutatenza, Boyacá">
                                    <option value="Tabio, Cundinamarca">
                                    <option value="Tadó, Choco">
                                    <option value="Talaigua Nuevo, Bolívar">
                                    <option value="Tamalameque, Cesár">
                                    <option value="Támara, Casanare">
                                    <option value="Tame, Arauca">
                                    <option value="Támesis, Antioquia">
                                    <option value="Taminango, Nariño">
                                    <option value="Tangua, Nariño">
                                    <option value="Tarazá, Antioquia">
                                    <option value="Tarqui, Huila">
                                    <option value="Tarso, Antioquia">
                                    <option value="Tasco, Boyacá">
                                    <option value="Tatamá, Valle">
                                    <option value="Tauramena, Casanare">
                                    <option value="Tausa, Cundinamarca">
                                    <option value="Tello, Huila">
                                    <option value="Tena, Cundinamarca">
                                    <option value="Tenerife, Magdalena">
                                    <option value="Tenjo, Cundinamarca">
                                    <option value="Tenza, Boyacá">
                                    <option value="Teorama, Norte de Santander">
                                    <option value="Teruel, Huila">
                                    <option value="Tesalia, Huila">
                                    <option value="Tibacuy, Cundinamarca">
                                    <option value="Tibaná, Boyacá">
                                    <option value="Tibasosa, Boyacá">
                                    <option value="Tibiritá, Cundinamarca">
                                    <option value="Tibú, Norte de Santander">
                                    <option value="Tierralta, Córdoba">
                                    <option value="Timaná, Huila">
                                    <option value="Timbío, Cauca">
                                    <option value="Timbiquí, Cauca">
                                    <option value="Tinjacá, Boyacá">
                                    <option value="Tipacoque, Boyacá">
                                    <option value="Tiquisio (Puerto Rico), Bolívar">
                                    <option value="Titiribí, Antioquia">
                                    <option value="Toca, Boyacá">
                                    <option value="Tocaima, Cundinamarca">
                                    <option value="Tocancipá, Cundinamarca">
                                    <option value="Toguí, Boyacá">
                                    <option value="Toledo, Antioquia">
                                    <option value="Toledo, Norte de Santander">
                                    <option value="Tolú, Sucre">
                                    <option value="Toluviejo, Sucre">
                                    <option value="Tona, Santander">
                                    <option value="Tópaga, Boyacá">
                                    <option value="Topaipí, Cundinamarca">
                                    <option value="Toribío, Cauca">
                                    <option value="Toro, Valle">
                                    <option value="Tota, Boyacá">
                                    <option value="Totoro, Cauca">
                                    <option value="Trinidad, Casanare">
                                    <option value="Trujillo, Valle">
                                    <option value="Tubará, Atlántico">
                                    <option value="Tuluá, Valle">
                                    <option value="Tumaco, Nariño">
                                    <option value="Tunja, Boyacá">
                                    <option value="Tunungua, Boyacá">
                                    <option value="Túquerres, Nariño">
                                    <option value="Turbaco, Bolívar">
                                    <option value="Turbaná, Bolívar">
                                    <option value="Turbo, Antioquia">
                                    <option value="Turmequé, Boyacá">
                                    <option value="Tuta, Boyacá">
                                    <option value="Tutazá, Boyacá">
                                    <option value="Ubalá, Cundinamarca">
                                    <option value="Ubaque, Cundinamarca">
                                    <option value="Ubaté, Cundinamarca">
                                    <option value="Ulloa, Valle">
                                    <option value="Úmbita, Boyacá">
                                    <option value="Une, Cundinamarca">
                                    <option value="Unguía, Choco">
                                    <option value="Uramita, Antioquia">
                                    <option value="Uribía, La Guajira">
                                    <option value="Urrao, Antioquia">
                                    <option value="Urumita, La Guajira">
                                    <option value="Usiacurí, Atlántico">
                                    <option value="Útica, Cundinamarca">
                                    <option value="Valdivia, Antioquia">
                                    <option value="Valencia, Córdoba">
                                    <option value="Valle de San José, Santander">
                                    <option value="Valle de San Juan, Tolima">
                                    <option value="Valledupar, Cesár">
                                    <option value="Valparaíso, Antioquia">
                                    <option value="Valparaíso, Caldas">
                                    <option value="Vaupés 97 Mitú, Valle">
                                    <option value="Vegachí, Antioquia">
                                    <option value="Vélez, Santander">
                                    <option value="Venadillo, Tolima">
                                    <option value="Venecia, Antioquia">
                                    <option value="Venecia (Ospina Pérez), Cundinamarca">
                                    <option value="Ventaquemada, Boyacá">
                                    <option value="Vergara, Cundinamarca">
                                    <option value="Versalles, Valle">
                                    <option value="Vetas, Santander">
                                    <option value="Vianí, Cundinamarca">
                                    <option value="Vichada 99 Puerto Carreño, Valle">
                                    <option value="Victoria, Caldas">
                                    <option value="Vigía del Fuerte, Antioquia">
                                    <option value="Vijes, Valle">
                                    <option value="Villa de Leyva, Boyacá">
                                    <option value="Villa del Rosario, Norte de Santander">
                                    <option value="Villa Gamuez (La Hormiga), Putumayo">
                                    <option value="Villa Garzón, Putumayo">
                                    <option value="Villacaro, Norte de Santander">
                                    <option value="Villagómez, Cundinamarca">
                                    <option value="Villahermosa, Tolima">
                                    <option value="Villamaría, Caldas">
                                    <option value="Villanueva, Bolívar">
                                    <option value="Villanueva, Casanare">
                                    <option value="Villanueva, La Guajira">
                                    <option value="Villanueva, Santander">
                                    <option value="Villapinzón, Cundinamarca">
                                    <option value="Villarrica, Tolima">
                                    <option value="Villavicencio, Meta">
                                    <option value="Villavieja, Huila">
                                    <option value="Villeta, Cundinamarca">
                                    <option value="Viotá, Cundinamarca">
                                    <option value="Viracachá, Boyacá">
                                    <option value="Vistahermosa, Meta">
                                    <option value="Viterbo, Caldas">
                                    <option value="Yacopí, Cundinamarca">
                                    <option value="Yacuanquer, Nariño">
                                    <option value="Yaguará, Huila">
                                    <option value="Yalí, Antioquia">
                                    <option value="Yarumal, Antioquia">
                                    <option value="Yolombó, Antioquia">
                                    <option value="Yondó (Casabe), Antioquia">
                                    <option value="Yopal, Casanare">
                                    <option value="Yotoco, Valle">
                                    <option value="Yumbo, Valle">
                                    <option value="Zambrano, Bolívar">
                                    <option value="Zapatoca, Santander">
                                    <option value="Zaragoza 895, Antioquia">
                                    <option value="Zarzal, Valle">
                                    <option value="Zetaquirá, Boyacá">
                                    <option value="Zipacón, Cundinamarca">
                                    <option value="Zipaquirá, Cundinamarca">
                                </datalist>
                                </div>
                            <div class="col-md-6 mb-3">
                                <input type="password" class="form-control" name="pass" id="pass" value=""
                                    placeholder="Contraseña" required>
                            </div>
                        </div>
                        <div>
                            <input class="btn amado-btn mb-15" type="submit" value="Registrar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}