{% extends "layout.html" %}

{% block content %}
        <!-- Header Area End -->
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="checkout_details_area mt-50 clearfix">
                            <div class="cart-title">
                                <h2>Registro exitoso</h2>
                            </div>
                        </div>
                        <a class="btn amado-btn mb-15" href="inicio">Seguir comprando</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}